/* HomePage */
.homepage {
  display: flex;
  width: 100vw;
  background-color: rgb(80, 103, 104);
  height: 100vh;
  overflow-x: hidden;
}
.homepage_left {
  min-width: 680px;
  height: 100vh;
  color: rgb(80, 103, 104);
  background-color: white;
}

.homepage_textBlock {
  /* background-color: pink; */
  margin: 150px 0 0 30px;
}

.homepage_textBlock h1 {
  font-size: 45px;
}

.homepage_right {
  background: rgb(80, 103, 104);
  width: 60vw;
  height: 100vh;
  /* float: left; */
  background-image: url("../assets/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* LOADING block */
.loading_block {
  width: 100vw;
}

.loading_block h1 {
  color: rgb(80, 103, 104);
  padding-left: 40px;
}

/* Plantpage with all plants */
.plantPage {
  width: 90vw;
}

.plantpage_content_block {
  padding-left: 30px;
}

.plantPage h1 {
  font-size: 40px;
  color: rgb(80, 103, 104);
}

/* PlantProductPage */
.plantProductPage {
  width: 100vw;
}

.ppp_title {
  padding-left: 40px;
  margin-bottom: 30px;
}

.ppp_title h1 {
  font-size: 40px;
  color: rgb(80, 103, 104);
}

.ppp_plantcard {
  height: 500px;
  padding-left: 40px;
  width: 90%;
  margin-top: 50px;
  /* background-color: pink; */

  display: flex;
  align-items: flex-start;
}

.ppp_plantcard_img {
  height: 500px;
}

.ppp_plantcard_img img {
  height: 100%;
}

.ppp_information {
  /* margin-left: 30px; */
  margin: 0 0 30px 30px;
  height: 100%;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ppp_information_block {
  width: 400px;
}

.ppp_top {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.ppp_information_block h3 {
  color: rgb(80, 103, 104);
}

.ppp_names {
  margin-bottom: 25px;
}

.ppp_names h1 {
  font-size: 40px;
  color: rgb(80, 103, 104);
}
.ppp_names h4 {
  color: rgb(45, 56, 57);
  font-weight: 200;
}

.ppp_about {
  margin-bottom: 25px;
}

.main-nav__icon_ppp {
  font-size: 25px;
  color: rgb(80, 103, 104);
  width: 30px;
  margin-right: 20px;
}

.main-nav__icon_ppp i {
  text-align: center;
}

.ppp_property {
  display: flex;
  align-items: center;
  margin: 3px 0;
}

.btn_ppp {
  color: white;
  background-color: rgb(45, 76, 76);
  padding: 5px 20px;
  font-size: 15px;
  border-style: none;
  border-radius: 10px;
}

.buttonBlock {
  display: flex;
  flex-direction: column;
}

.like_block {
  display: flex;
}

/* GO BACK BUTTON */
.btn_gb {
  color: white;
  background-color: rgb(45, 76, 76);
  font-size: 14px;
  padding: 8px 30px;
  border-style: none;
  border-radius: 20px;
  outline: none;
}

/* DASHBOARD */
.dashboard {
  width: 100vw;
}
.dashboard_content {
  padding-left: 40px;
}

.dashboard h1 {
  font-size: 40px;
  color: rgb(80, 103, 104);
}

/* FORMS */
.block h1 {
  font-size: 40px;
  color: rgb(80, 103, 104);
}
.form {
  padding-left: 40px;
  width: 90%;
}

/* PLANT FORMS */
.title_block {
  display: flex;
  justify-content: space-between;
}

select {
  width: 400px;
}

option {
  width: 400px;
}

.plantForm-input {
  width: 400px;
}

.formPlant_buttons {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.form h3 {
  font-weight: 300;
}

.form p {
  color: black;
  margin-top: 3px;
}

.deletePlant {
  margin-top: 10px;
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.warning h3 {
  font-weight: 700;
  color: rgb(170, 138, 75);
}

.test {
  height: 200px;
  width: 400px;
  background-color: rgb(180, 197, 197);
  margin: 20px;
}

/* PLANT PAGE */
.block__cards {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
}

.card__homePlant {
  width: 400px;
  height: 380px;
  margin: 30px 60px 30px 0;
  box-shadow: 0 0 10px rgba(50, 78, 66, 0.2);
}

.card_top {
  height: 300px;
  width: 100%;
  display: flex;
}
.card_bottom {
  width: 100%;
  height: 80px;
  background-color: rgb(240, 242, 244);
  padding: 5px;
}

.card_img {
  height: 100%;
  float: left;
}

.card_img img {
  height: 100%;
}

.card__buttonblock {
  height: 100%;
  width: 100%;
  background-color: rgb(180, 197, 197);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button_card {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(80, 103, 104);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_card i {
  font-size: 16px;
  color: white;
}

.btn__link {
  /* text-decoration: none; */
  color: rgb(50, 78, 66);
  font-size: 23px;
  font-weight: 400;
  margin-right: 5px;
}

.btn_round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(80, 103, 104);
  margin-right: 20px;
  border: none;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_round i {
  font-size: 16px;
  color: white;
}

.ppp_buttons {
  display: flex;
}
