/* Colors */
color {
  color: rgb(240, 242, 244);
  color: rgb(180, 197, 197);
  color: rgb(80, 103, 104);
  color: rgb(50, 78, 66);
  color: rgb(17, 33, 29);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
}
